<nav>
  <div class="parant">
    <div class="firstChild">
      <img src="assets/icon3.png" alt="" class="icon">
    </div>
    <div class="secondChild">
      <a href="#services">Services</a>
      <a href="#work">Work</a>
      <a href="#about">About</a>
      <a href="#faqs">FAQS</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="thiredChild">
      <a href="#contact">Lets talk</a>
    </div>
  </div>
</nav>
<app-home ></app-home>
<app-services id="services"></app-services>
<app-work id="work"></app-work>
<app-about id="about"></app-about>
<app-faqs id="faqs"></app-faqs>
<app-contact id="contact"></app-contact>
<app-buttom></app-buttom>